# STM32 file blocks
stm32/Debug
stm32/.settings/language.settings.xml
stm32/.settings/stm32cubeide.project.prefs
stm32/.settings/language.settings.xml
stm32/.settings/language.settings.xml
stm32/.settings/language.settings.xml
